<div class="container">

  <div class="left_side">

    <!-- PERFIL -->
    <div class="profile">
      <div class="img_setting">
        <img src="../agenda/img/foto.webp">
      </div>
      <h2>Oliver Do Santos Pereira Fiorilo</h2>
      <h5>Desarrollador WEB</h5>
      <!-- <button class="btn" onclick="PDF();">Download PDF</button> -->
    </div>

    <!-- FEcha de nacimiento -->
    <div class="left_items">
      <h4 class="title"><i class="fa-solid fa-calendar-day"></i> Fecha de Nacimiento</h4>
      <ul>
        <li>
          <h4 class="text">02 de Septiembre de 2001</h4>
        </li>
      </ul>
    </div>

    <!-- numero de cedula de identidad -->
    <div class="left_items">
      <h4 class="title"><i class="fa-solid fa-address-card"></i> Cédula de identidad</h4>
      <ul>
        <li>
          <h4 class="text">12936360 - CBBA</h4>
        </li>
      </ul>
    </div>

    <!-- INFORMACION DE CONTACTO -->
    <div class="left_items">
      <h4 class="title"><i class="fa-solid fa-circle-info"></i> Información de Contacto</h4>
      <ul>
        <li>
          <span class="icons">
            <i class="bx bx-envelope"></i>
          </span>
          <span class="text">poliverdosantos@gmail.com</span>
        </li>
        <li>
          <span class="icons">
            <i class="bx bx-phone"></i>
          </span>
          <span class="text">+591 77910236</span>
        </li>
      </ul>
    </div>

    <!-- EDUCACION -->
    <div class="left_items">
      <h4 class="title"><i class="fa-solid fa-school"></i> Educación</h4>
      <ul>
        <li>
          <h4 class="dates">2008 - 2019</h4>
          <h4 class="text">Bachiller en Humanidades
          </h4>
          <h4 class="text">Colegio: "IV Centenario"</h4>
        </li>
      </ul>
    </div>

    <!-- CERTIFICADOS -->
    <div class="left_items">
      <h4 class="title"><i class="fa-solid fa-certificate"></i> Certificados</h4>
      <ul>
        <li>
          <h5 class="dates">2022</h5>
          <h4 class="text">Desarrollador de aplicaciones web</h4>
          <h4 class="text">-Solaning</h4>
        </li>
      </ul>
    </div>
    <!-- direccion -->
    <div class="left_items">
      <h4 class="title"><i class="fa-solid fa-map-location-dot"></i> Dirección</h4>
      <ul>
        <li>
          <h4 class="text">Av. Circunvalación/ Zona Amancayas - Sacaba</h4>
          <h4 class="text">Cochabamba - Bolivia</h4>
        </li>
      </ul>
    </div>

    <!-- Estado civil -->
    <div class="left_items">
      <h4 class="title"><i class="fa-solid fa-user"></i> Estado Civil</h4>
      <ul>
        <li>
          <h4 class="text">Soltero</h4>
        </li>
      </ul>
    </div>

    <!-- LENGUAGES -->
    <div class="left_items">
      <h4 class="title"><i class="fa-solid fa-language"></i> Idiomas</h4>
      <ul class="languages">
        <li>
          <span class="text">Ingles</span>
          <div class="percent">
            <div style="width: 40%"></div>
          </div>
        </li>
        <li>
          <span class="text">Español</span>
          <div class="percent">
            <div style="width: 100%"></div>
          </div>
        </li>
      </ul>
    </div>

  </div>

  <div class="right_side">

    <!-- FORMACION ACADEMICA -->
    <div class="right_items">
      <h1 class="title"><u><i class="fa-solid fa-graduation-cap"></i> Formación Academica:</u></h1>
      <ul class="texto">
        <li><u><b>Enseñanza Básica:</b></u> Unidad Educativa Toribio Claure (2008-2013)</li>
        <li><u><b>Enseñanza Media:</b></u> Colegio Secundario "IV Centenario" (2014-1019)</li>
        <li><u><b>Enseñanza nivel Técnico:</b></u> Técnico en Desarrollo de Aplicaciones WEB (En curso)</li>
        <li><u><b>Enseñanza nivel Universitario:</b></u> “Licenciatura en Ingeniería INFORMÁTICA UMSS” (En
          curso 2do año)</li>
      </ul>
    </div>
    <div class="right_items">
      <h1 class="title"><i class="fa-solid fa-certificate "></i> <u>Cursos:</u></h1>
      <h2> <u><b>-Certificados:</b></u></h2>
      <ul class="texto">
        <li>Curso de <b>"ETHICAL HACKING"</b> (Academia de Ciberseguridad HACKER MENTOR / 2022)</li>
        <li>Curso de Capacitación “Emprendimientos Sostenibles Sacaba 2022” (Gobierno Autónomo Municipal de
          Sacaba).</li>
        <li>Taller de “SOFTWARE Y HADWARE” (Universidad Mayor de San Simón / 2022)</li>
        <li>“Curso de Capacitación en Habilidades Blandas para Jóvenes de Sacaba 2021” (Gobierno Autónomo
          Municipal de Sacaba / 2021)</li>
        <li>Curso de “Policía Militar” (COMANDO GENERAL DEL EJERCITO “Séptima División del ejercito RPM-3
          GRAL.ARZE” / 2020) </li>
        <li>Curso de “Centinela de la salud” (Ministerio de Salud-Ministerio de Defensa / 2020) </li>
        <li>Curso de INTERNET “Nivel Intermedio” (COMTECO)</li>
        <li>Curso de WORD y EXCEL “Nivel intermedio” (COMTECO)</li>
        <li>Taller de Orientación Vocacional y Laboral del Plan Generación de Empleo (Ministerio de
          Planificación del Desarrollo)</li>
        <li>Taller de “PREVENCION DE LA VIOLENCIA SEXUAL A LOS NNA” (FUBE)</li>
      </ul>
    </div>

    <!-- HABILIDADES -->
    <div class="right_items">
      <h2 class="title"><i class="fa-solid fa-desktop"></i> Habilidades Profesionales:</h2>
      <div class="skills">
        <h4> HTML</h4>
        <div class="percent">
          <div style="width: 70%"></div>
        </div>
      </div>
      <div class="skills">
        <h4>CSS</h4>
        <div class="percent">
          <div style="width: 68%"></div>
        </div>
      </div>
      <div class="skills">
        <h4>JavaScript</h4>
        <div class="percent">
          <div style="width: 60%"></div>
        </div>
      </div>
      <div class="skills">
        <h4>JAVA</h4>
        <div class="percent">
          <div  style="width: 75%"></div>
        </div>
      </div>
      <div class="skills">
        <h4>Python</h4>
        <div class="percent">
          <div style="width: 20%"></div>
        </div>
      </div>
    </div>

    <!-- HOBBIES -->
    <!-- <div class="right_items">
                <h4 class="title">Aficiones</h4>
                <ul class="hobby">
                    <li><i class="bx bx-dish"></i> Cooking</li>
                    <li><i class="bx bxs-plane-take-off"></i> Flying</li>
                    <li><i class="bx bx-book"></i> Reading</li>
                </ul>
            </div> -->

  </div>

</div>

<!-- HTML2PDF SOURCE -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"
        integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="JAVASCRITP/OTROS.JS"></script>