/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');


/* VARIABLES */
:root {
    --base: #f8f9fa;
    --primary: #343a40;
    --secondary: #17a2b8;
}

 .texto{
    font-size: 20px;
} 

/* GENERAL  */
i{
    color: #17a2b8;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 16px;
}

/* LAYOUT */
.container {
    position: relative;
    width: 100%;
    max-width: 1400px;
    min-height: 600px;
    background: var(--base);
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0px 10px 25px #333;
    margin: 1.5rem;
}
.container .left_side {
    background: var(--primary);
    padding: 1.5rem;
}
.container .right_side {
    background: var(--base);
    padding: 1.5rem;
}

/* LEFT SIDE ITEMS */
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
    color: var(--base);
    border-bottom: 1px solid var(--base);
}
.profile .img_setting {
    position: relative;
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    overflow: hidden;
}
.profile .img_setting img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profile h4 {
    font-size: 1.2rem;
    margin-top: 0.8rem;
    font-weight: 600;
}
.profile h5 {
    font-size: 0.9rem;
    margin-top: 0.2rem;
    font-weight: 300;
    line-height: 1rem;
}
.profile .btn {
    margin-top: 0.8rem;
    padding: 0.5rem 1.5rem;
    font-size: 0.9rem;
    font-weight: 600;
    background: var(--secondary);
    color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 20px;
    cursor: pointer;
}
.profile .btn:hover{
    background: var(--primary);
    color: var(--secondary);
    border: 1px solid var(--secondary);
}

ul{
    list-style: square;
}

i{
    color: #17a2b8;
}

.left_items {
    margin-top: 1.2rem;
    color: var(--base);
}
.left_items .title {
    padding-bottom: 0.5rem;
}
.left_items ul li {
    list-style: none;
    margin-bottom: 0.2rem;
}
.left_items ul li .icons {
    display: inline-block;
    width: 1.2rem;
    font-size: 1.2rem;
    color: var(--secondary);
}
.left_items ul li .text {
    font-weight: 300;
}
.left_items ul li .dates {
    color: var(--secondary);
    font-weight: 400;
}
.languages {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.languages li {
    margin-right: 1rem;
}
.languages .percent {
    width: 100%;
    height: 0.4rem;
    background: black;
    display: block;
    margin-top: 0.4rem;
}
.languages .percent div {
    width: 100%;
    height: 0.4rem;
    background: var(--secondary);
}

/* RIGHT SIDE ITEMS */
.right_items {
    margin-bottom: 2rem;
    font-weight: 600;
    color: var(--primary);
}
.right_items .title {
    text-transform: uppercase;
    margin-bottom: 0.6rem;
}
.experience {
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
}
.experience .time_line {
    margin-top: 1px;
}
.experience .time_line .time_point {
    width: 1.2rem;
    height: 1.2rem;
    display: block;
    background: var(--secondary);
    border-radius: 50%;
}
.experience .time_line .time_road {
    width: 0.2rem;
    height: 100%;
    display: block;
    background: var(--secondary);
    transform: translate(0.5rem, 0);
}
.experience .content {
    display: grid;
    grid-template-columns: 10rem auto;
}
.experience .content .interval {
    color: var(--primary);
    min-width: 10rem;
    text-align: center;
    font-weight: 400;
}
.experience .content .description h4 {
    color: var(--secondary);
}
.skills {
    width: 100%;
    display: grid;
    grid-template-columns: 10rem 1fr;
    margin: 1rem 0;
}
.skills .percent {
    width: 100%;
    height: 0.8rem;
    background: var(--primary);
}
.skills .percent div {
    width: 100%;
    height: 0.8rem;
    background: var(--secondary);
}
.hobby {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.hobby li {
    list-style: none;
    width: 2rem;
    font-size: 1.2rem;
}
.hobby li .bx {
    color: var(--secondary);
    width: 2rem;
    font-size: 1.2rem;
}

/* RESPONSIVE SETTINGS */
@media (max-width: 800px){
    .container {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (max-width: 420px){
    .experience .content {
        grid-template-columns: 1fr;
        margin: 0 3rem;
    }
    .hobby {
        grid-template-columns: repeat(2, 1fr);
    }
    .hobby li {
        margin-bottom: 1rem;
    }
}